<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Certificate Verification System</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

    <header class="navbar">
        <div class="logo">
            Blockchain Certificate Verification
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/login">Admin Login</a>
        </nav>
    </header>

    <main class="hero">

        <div class="hero-content">

            <h1>
                Blockchain-Based Academic Certificate Verification System
            </h1>

            <p>
                A secure and reliable platform for issuing and verifying
                academic certificates using SHA-256 hashing and blockchain
                technology.
            </p>

            <div class="button-group">

            <a href="{{ url_for('login') }}"
                >Admin Login
            </a>

            </div>

        </div>

    </main>

    </section>

    <footer>
        <p>
            Blockchain Academic Certificate Verification System
        </p>
    </footer>

</body>
</html>